<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joinyon.androidguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b9b68c9b27b0a593c000093" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 这里改成对应build.gradle中的 productFlavors.all 对应的字符串 -->

        <activity
            android:name=".android.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".android.NotifyActivity" />
        <activity android:name=".android.ViewActivity" />
        <activity android:name=".net.VolleyActivity" />
        <activity android:name=".android.UI.MagicIndicatorActivity" />
        <activity android:name=".ad.RichEditActivity" />
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notice.AutoNoticeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.joinyon.androidguide.alarm.clock.everyday" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>

        </receiver>

        <activity android:name=".android.UI.PhotoFlowActivity" />
        <activity android:name=".HRichEditorView.view.HRichEditorView" />
        <activity android:name=".HRichEditorView.view.LinkedActivity" />
        <activity android:name=".HRichEditorView.view.TitleEidtorActivity" />
        <activity android:name=".HRichEditorView.view.TXTEditorActivity" />
        <activity android:name=".tt.BaiDuActivity" />
        <activity android:name=".WordPressEditor.activity.EditorExampleActivity" />
        <activity
            android:name=".WordPressEditor.activity.MainExampleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WordPressEditor.legacy.EditLinkActivity" />
        <activity android:name=".HRichEditorView.HRichEditorActivity" />
        <activity android:name=".WordPressEditor.activity.MyEditActivity" />
        <activity android:name=".android.WebActivity" />
        <activity android:name=".notice.AlarmActivity"></activity>

        <service android:name=".service.AutoNoticeService" />
    </application>

</manifest>